In [40]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
naver = pd.read_csv("https://raw.githubusercontent.com/dhxoghks95/dsone13/master/data/naver_movie.csv")

In [3]:
naver = naver.drop(columns = ['Unnamed: 0'])

In [4]:
naver

                                                      제목  ...    영화코드
0      108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...  ...  193996
1                     16세의 사운드트랙 (Soundtrack to Sixteen)  ...  194004
2                                            1917 (1917)  ...  187321
3                          1942: 언노운 배틀 (Unknown Battle)  ...  194791
4      1945: 포인트 오브 노 리턴 (The Eastern Front: Point of...  ...  194297
...                                                  ...  ...     ...
24845                                            홍차기의 일생  ...   23682
24846                     황야의 결투 (My Darling Clementine)  ...   11259
24847                          회의는 춤춘다 (Congress Dances)  ...  151881
24848                                              흙에 산다  ...   23827
24849                                             희망의 마을  ...   23832

[24850 rows x 17 columns]

In [5]:
naver['제목'][23]

'걸즈 앤 판처 최종장 (GIRLS und PANZER das FINALE Part1 and Part2(4DX version))'

In [6]:
entitle = re.findall('\(([^)]+)',naver['제목'][23])
entitle[0]

'GIRLS und PANZER das FINALE Part1 and Part2(4DX version'

In [7]:
len(naver)

24850

In [8]:
entitles = list()
for i in range(len(naver)):
    entitle = re.findall('\(([^)]+)',naver['제목'][i])
    영화코드 = naver['영화코드'][i]
    if len(entitle) == 0:
        entitles = entitles + [["NaN", 영화코드]]
    else:
        entitle = entitle + [영화코드]
        entitles = entitles + [entitle]

In [9]:
entitles = pd.DataFrame(entitles)

In [10]:
entitles = entitles.iloc[:,0:2]
entitles.columns = ['entitle', '영화코드']

In [11]:
entitles = entitles.reset_index(drop = True)

In [12]:
naver_merged = naver.merge(entitles, how = 'left', on = '영화코드')

In [13]:
naver_merged = naver_merged[naver_merged.duplicated(keep = 'first') == False]

In [14]:
naver_merged = naver_merged.reset_index(drop = True)

In [15]:
for i in range(naver_merged.shape[0]):
    title = re.sub(r'\([^)]*\)', '', naver_merged['제목'][i])
    title = title.strip()
    naver_merged['제목'][i] = title

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [25]:
naver_merged = naver_merged[pd.isnull(naver_merged['네티즌리뷰수']) != True]

In [29]:
naver_merged['entitle'] = naver_merged['entitle'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
naver_merged = naver_merged.reset_index(drop = True)

In [ ]:
def grap_year(data):
    data = str(data)
    if data != "nan":
        return data[:4]
    else:
        return "NaN"

def grap_month(data):
    data = str(data)
    if data != "nan":
        return data[5:7]
    else:
        return "NaN"

In [72]:
naver_merged['year'] = naver_merged['개봉일'].apply(lambda x: grap_year(x))
naver_merged['month'] = naver_merged['개봉일'].apply(lambda x: grap_month(x))

In [17]:
daum = pd.read_csv("https://raw.githubusercontent.com/dhxoghks95/dsone13/master/data/daum_movie.csv")

In [78]:
daum = daum[daum.네티즌수 != 0]

In [70]:
daum['year'] = daum['개봉일'].apply(lambda x: grap_year(x))
daum['month'] = daum['개봉일'].apply(lambda x: grap_month(x))

In [81]:
daum

          영화코드                       제목  ...  year month
0            1                  플란다스의 개  ...  2000    02
1            2                       카라  ...  1999    09
2            3                 주노명 베이커리  ...  2000    01
3            4             여고괴담 두번째 이야기  ...  1999    12
4            5                  행복한 장의사  ...  2000    01
...        ...                      ...  ...   ...   ...
125360  145182  데이비드 애튼버러 - 우리의 지구를 위하여  ...   NaN   NaN
125382  145205                       나무  ...   NaN   NaN
125465  145289                  송해 1927  ...   NaN   NaN
125470  145294                데빌 인사이드 미  ...  2020    11
125473  145297         해피 데스데이: 악마의 큐피드  ...  2020    11

[36267 rows x 10 columns]

In [112]:
merged = pd.merge(daum, naver_merged, how = 'outer', on = ['제목', 'year', 'month'])

In [86]:
merged

       영화코드_x            제목  ...  영화코드_y                     entitle
0         1.0       플란다스의 개  ...   28267             a higher animal
1         2.0            카라  ...   25580                         nan
2         3.0      주노명 베이커리  ...   26351         the wife in romance
3         4.0  여고괴담 두번째 이야기  ...   25917                memento mori
4         5.0       행복한 장의사  ...   27629  the happy funeral director
...       ...           ...  ...     ...                         ...
44660     NaN           풍년가  ...   23494                         nan
44661     NaN       프라하의 학생  ...  139288        der student von prag
44662     NaN       홍차기의 일생  ...   23682                         nan
44663     NaN        황야의 결투  ...   11259       my darling clementine
44664     NaN         흙에 산다  ...   23827                         nan

[44665 rows x 27 columns]

In [113]:
merged = merged[['제목', '영화코드_y', '영화코드_x',  '네티즌평점', '네티즌리뷰수', '별점', '네티즌수' ]]

In [133]:
merged[pd.isnull(merged['별점'])] = 0
merged[pd.isnull(merged['네티즌수'])] = 0
merged[pd.isnull(merged['네티즌리뷰수'])] = 0
merged[merged['네티즌리뷰수'] == 'nan'] = 0

In [148]:
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 
merged['네티즌리뷰수'] = merged['네티즌리뷰수'].apply(lambda x: str(x))
merged['네티즌리뷰수'] = merged['네티즌리뷰수'].apply(lambda x: int(locale.atoi(x)))
merged['total_reviewer'] = merged['네티즌리뷰수'] + merged['네티즌수']

In [150]:
merged['total_star'] = merged['네티즌평점'] * merged['네티즌리뷰수'] / 10 + merged['별점'] * merged['네티즌수'] / 10

In [151]:
merged[['제목', '영화코드_x', '영화코드_y', 'total_star', 'total_reviewer']]

                 제목  영화코드_x 영화코드_y  total_star  total_reviewer
0           플란다스의 개     1.0  28267     498.798           618.0
1                카라     2.0  25580      86.493           138.0
2          주노명 베이커리     3.0  26351      44.350            58.0
3      여고괴담 두번째 이야기     4.0  25917     649.252           785.0
4           행복한 장의사     5.0  27629     148.941           174.0
...             ...     ...    ...         ...             ...
44660             0     0.0      0       0.000             0.0
44661             0     0.0      0       0.000             0.0
44662             0     0.0      0       0.000             0.0
44663             0     0.0      0       0.000             0.0
44664             0     0.0      0       0.000             0.0

[44665 rows x 5 columns]

In [152]:
merged['a'] = merged['total_star'] + 1
merged['b'] = 1 + merged['total_reviewer'] - merged['total_star']

merged['mu'] = merged['a'] / (merged['a']+merged['b'])

merged['std_err'] = 1.65 * np.sqrt((merged['a'] * merged['b']) / (((merged['a'] + merged['b'])**2) * (merged['a'] + merged['b'] + 1 )) )

merged['lb'] = merged['mu'] - merged['std_err']

In [153]:
merged_reorder = merged.sort_values('lb', ascending = False)

In [156]:
merged_reorder = merged_reorder.reset_index(drop = True)

In [157]:
merged_reorder.to_csv('merged_reorder.csv')

In [158]:
from google.colab import files
files.download("merged_reorder.csv")