In [2]:
import pandas as pd

In [8]:
daum_movie = pd.read_csv("https://raw.githubusercontent.com/dhxoghks95/dsone13/master/data/daum_movie.csv")

In [10]:
daum_movie['total_star'] = daum_movie['별점'] * daum_movie['네티즌수']
daum_movie.dropna(axis = 1, inplace = True)
daum_movie.head

<bound method NDFrame.head of                             제목      국가          장르   별점  네티즌수  total_star
0                      플란다스의 개      한국         코미디  7.2   110       792.0
1                           카라      한국  로맨스/멜로/판타지  6.7    21       140.7
2                     주노명 베이커리      한국         드라마  5.8    13        75.4
3                 여고괴담 두번째 이야기      한국          공포  8.6    67       576.2
4                      행복한 장의사      한국         코미디  7.9    45       355.5
...                        ...     ...         ...  ...   ...         ...
32554                  아이를 부탁해     멕시코  코미디/로맨스/멜로  7.0     2        14.0
32555                     올로투레   나이지리아      범죄/드라마  4.0     1         4.0
32556             뱀파이어 vs 브롱크스      미국      코미디/공포  2.4     5        12.0
32557                독전: 비밀의 숲      미국         스릴러  1.0     1         1.0
32558  데이비드 애튼버러 - 우리의 지구를 위하여  미국, 영국       다큐멘터리  8.0     1         8.0

[32559 rows x 6 columns]>

In [11]:
daum_star = daum_movie[['제목', 'total_star', '네티즌수']]

In [12]:
daum_star

                            제목  total_star  네티즌수
0                      플란다스의 개       792.0   110
1                           카라       140.7    21
2                     주노명 베이커리        75.4    13
3                 여고괴담 두번째 이야기       576.2    67
4                      행복한 장의사       355.5    45
...                        ...         ...   ...
32554                  아이를 부탁해        14.0     2
32555                     올로투레         4.0     1
32556             뱀파이어 vs 브롱크스        12.0     5
32557                독전: 비밀의 숲         1.0     1
32558  데이비드 애튼버러 - 우리의 지구를 위하여         8.0     1

[32559 rows x 3 columns]

In [25]:
daum_star['a'] = daum_star['total_star']/10 + 1
daum_star['b'] = 1 + daum_star['네티즌수'] - daum_star['total_star']/10

daum_star['mu'] = daum_star['a'] / (daum_star['a']+daum_star['b'])

daum_star['std_err'] = 1.65 * np.sqrt((daum_star['a'] * daum_star['b']) / (((daum_star['a'] + daum_star['b'])**2) * (daum_star['a'] + daum_star['b'] + 1 )) )

daum_star['lb'] = daum_star['mu'] - daum_star['std_err']

In [26]:
daum_star['lb']

0        0.646083
1        0.495135
2        0.365076
3        0.779062
4        0.678629
           ...
32554    0.238503
32555    0.055084
32556    0.043471
32557   -0.030896
32558    0.195834
Name: lb, Length: 32559, dtype: float64

In [27]:
daum_reorder = daum_star[['제목', 'lb']]

In [30]:
daum_reorder = daum_reorder.sort_values('lb', ascending = False)

In [34]:
daum_reorder[daum_reorder['lb'] > 0.5]

                제목        lb
26780         더 플랜  0.987438
18477     또 하나의 약속  0.976183
28556       그날, 바다  0.965885
22517           귀향  0.965363
27225         공범자들  0.963159
...            ...       ...
17814           카페  0.500001
19063       괜찮아 3반  0.500001
10777        가벼운 잠  0.500001
9054   저수지에서 건진 치타  0.500001
974         체이싱 아미  0.500001

[9453 rows x 2 columns]