In [21]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
import numpy as np
import json

In [22]:
daum = pd.read_csv("https://raw.githubusercontent.com/dhxoghks95/dsone13/master/data/daum_movie_backup.csv")

In [23]:
code = daum['영화코드']

In [24]:
def get_daum(movie_id): 
    url = 'https://movie.daum.net/moviedb/main?movieId={}'.format(movie_id)
    resp = requests.get(url)
     
    soup = bs(resp.text, 'html.parser')
     
    title = soup.find('span', {'class' : 'txt_name'}).text

    daum_title = pd.DataFrame([movie_id, title])
    daum_title = daum_title.transpose()
    daum_title.columns = ['영화코드', '제목']

    return daum_title

In [25]:
from tqdm import tqdm

In [26]:
movie = pd.DataFrame()
for i in tqdm(range(20000)):
    movie = movie.append(get_daum(code[i]))

100%|██████████████████████████████████████████████████████████████████████████| 20000/20000 [1:14:01<00:00,  4.50it/s]

In [27]:
movie.to_csv("daum_code.csv", index = False)

In [29]:
for i in tqdm(range(30818, 40000)):
    try:
        movie = movie.append(get_daum(code[i]))
    except AttributeError:
        pass

100%|██████████████████████████████████████████████████████████████████████████████| 9182/9182 [32:37<00:00,  4.69it/s]

In [30]:
movie.to_csv("daum_code.csv", index = False)

In [31]:
for i in tqdm(range(44383, 60000)):
    movie = movie.append(get_daum(code[i]))

100%|████████████████████████████████████████████████████████████████████████████| 15617/15617 [56:11<00:00,  4.63it/s]

In [32]:
movie.to_csv("daum_code.csv", index = False)

In [33]:
for i in tqdm(range(60000, 80000)):
    movie = movie.append(get_daum(code[i]))

100%|██████████████████████████████████████████████████████████████████████████| 20000/20000 [1:11:08<00:00,  4.69it/s]

In [34]:
movie.to_csv("daum_code.csv", index = False)

In [35]:
for i in tqdm(range(80000, 100000)):
    movie = movie.append(get_daum(code[i]))

100%|██████████████████████████████████████████████████████████████████████████| 20000/20000 [1:13:00<00:00,  4.57it/s]

In [36]:
movie.to_csv("daum_code.csv", index = False)

In [37]:
for i in tqdm(range(80000, len(code))):
    movie = movie.append(get_daum(code[i]))

100%|██████████████████████████████████████████████████████████████████████████| 45475/45475 [2:55:17<00:00,  4.32it/s]

In [38]:
movie.to_csv("daum_code.csv", index = False)

In [40]:
movie

      영화코드                                제목
0        1                     플란다스의 개(2000)
0        2                          카라(1999)
0        3                    주노명 베이커리(2000)
0        4                여고괴담 두번째 이야기(1999)
0        5                     행복한 장의사(2000)
..     ...                               ...
0   145294                   데빌 인사이드 미(2019)
0   145295                         보이스(2020)
0   145296                드라이브: 분노의 질주(2019)
0   145297            해피 데스데이: 악마의 큐피드(2020)
0   145298  더 비 지스: 하우 캔 유 멘드 어 브로큰 하트(2020)

[141092 rows x 2 columns]