In [216]:
from selenium import webdriver
import time
import random
from tqdm import tqdm, tqdm_notebook
import pandas as pd
from selenium.webdriver.common.keys import Keys

In [217]:
from fake_useragent import UserAgent

In [212]:
import os
os.chdir('C:\\Users\\reoeu\\Desktop\\2020-2\\데이터사이언스\\project\\데이터')
T = pd.read_csv('Cine21(完).csv')
W = pd.read_csv('왓챠.csv')

In [213]:
T.연도 = T.연도.apply(lambda x: str(int(x)) if pd.notnull(x) else '')

In [214]:
len(W)

6977

# 드라이버를 열고

In [5]:
options = webdriver.ChromeOptions()
options.add_argument("Googlebot/2.1+http://www.googlebot.com/bot.html)")
driver = webdriver.Chrome('C:\\Users\\reoeu\\Desktop\\2020-2\\데이터사이언스\\project\\코드\\chromedriver.exe',options=options)

# 함수를 구성하고

In [6]:
def get_info():
    try:
        제목 = driver.find_elements_by_xpath('//*[@id="root"]/div/div[1]/section/div/div/div/section/div[2]/div/div/div/div/h1')[0].text
    except:
        제목 = ''
    
    try:
        별점사람 = driver.find_elements_by_xpath("//*[@id='root']/div/div[1]/section/div/div/div/section/div[2]/div/div/div/div/div[2]")[0].text
    except:
        별점사람 = ''
    try:
        별점 = float(별점사람.split('(')[0].split('★')[1].strip())
    except:
        별점 = 0
        
    try:
        사람 = 별점사람.split('(')[1].replace('명)', '')
    except:
        사람 = 0
        
    try:
        기타정보 = driver.find_element_by_xpath('//*[@id="root"]/div/div[1]/section/div/div/div/section/div[2]/div/div/div/div/div[1]').text.split('·')
    except:
        기타정보 = []
        
    try:
        상영시간 = driver.find_element_by_xpath('//*[@id="root"]/div/div[1]/section/div/div/div/div/div/div[1]/div[1]/div/div/section[1]/div[2]/div/article/div[1]/span[2]').text
    except:
        상영시간 = ''
    
    return {'제목': 제목, '별점': 별점, '사람': 사람, '기타정보' : 기타정보, '상영시간':상영시간}

In [7]:
def scroll():
    body = driver.find_element_by_css_selector('body')
    for i in range(5):
        body.send_keys(Keys.PAGE_DOWN)
        time.sleep(0.2)
    body.send_keys(Keys.HOME)
    time.sleep(0.2)

In [40]:
len(T)

52048

# 크롤링을 진행하면

In [42]:
for x, y, z in tqdm_notebook(zip(T1.index, T1.제목, T1.연도)):

    try:
        driver.get("https://pedia.watcha.com/ko-KR/searches/movies?query={}".format(y))
        
        scroll()
        
        if z!='':
            k=0
            for i in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
                k += 1
                
                if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == z:
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full[x] = get_info()
                    
                    break
                    

#            if (k/2)+0.5 > len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')):
#                for u in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
#                            
#                    if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)+1):
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                        
#                        full[x] = get_info()
#                        
#                        break
#                                       
#                    elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)-1):
#    
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                    
#                        full[x] = get_info()
#                    
#                        break
         
        else:
            driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[0].click()
            
            rand_value = random.uniform(0.8, 1)
            time.sleep(rand_value)    
            
            
            full[x] = get_info()

    except:
        full[x] = {'제목': '', '별점': 0, '사람': 0, '기타정보' : [], '상영시간':''}

C:\Users\reoeu\anaconda3\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

# 이런 쓰레기같은 결과가 나옵니다

In [72]:
lv1W = pd.concat([W.drop('Unnamed: 0', axis=1), pd.DataFrame(full).T])

In [71]:
lv1W

                     제목   별점   사람                    기타정보     상영시간
0                    히트  3.9   5만      ['1995 ・ 액션 ・ 미국']  2시간 51분
1                    랜섬  3.4   2만      ['1996 ・ 범죄 ・ 미국']   2시간 1분
2                귀여운 여인  3.8  24만  ['1990 ・ 로맨틱코미디 ・ 미국']  1시간 59분
3            라스베가스를 떠나며  3.7   3만     ['1995 ・ 로맨스 ・ 미국']  1시간 51분
4                  보디가드  3.6   9만      ['1992 ・ 액션 ・ 미국']      NaN
...                 ...  ...  ...                     ...      ...
52043           3년째의 데뷔  3.5    1     [2020 ・ 다큐멘터리 ・ 일본]  1시간 59분
52044            이별의 목적  2.7   68       [2018 ・ 드라마 ・ 한국]
52045       압구정 리포트(가제)    0    0       [2020 ・ 코미디 ・ 한국]
52046            아메리칸 잡  2.6  144       [2019 ・ 로맨스 ・ 미국]
52047  조제, 호랑이 그리고 물고기들  NaN  NaN     [2020 · 일본 · 애니메이션]  1시간 39분

[51876 rows x 5 columns]

In [52]:
HM = pd.merge(T, lv1W, how='left', left_index=True, right_index=True)

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
10,11,마이클 콜린스,1996,"영국,아일랜드,미국",15세 관람가,드라마,132분,1997-01-18,NaN,닐 조던,"['리암 니슨', '줄리아 로버츠']",6.13,NaN,8,0.0,NaN,0,0,[],NaN
19,20,브레이킹 더 웨이브,1995,"프랑스,아이슬랜드,스웨덴,덴마크,노르웨이,네덜란드",청소년 관람불가,"멜로·로맨스, 드라마",159분,1996-12-07,82명,라스 폰 트리에,"['에밀리 왓슨', '스텔란 스카스가드']",8.00,NaN,14,0.0,NaN,0,0,[],NaN
30,33,내일로 흐르는 강,1995,한국,청소년 관람불가,"드라마, 멜로·로맨스",96분,1996-01-20,NaN,박재호,"['김예령', '이대연']",5.33,NaN,3,0.0,NaN,0,0,[],NaN
36,39,싸이렌 나잇,1996,독일,NaN,멜로·로맨스,NaN,NaN,NaN,다니 레비,"['마리아 슈라더', '위르겐 포겔']",6.00,NaN,1,0.0,NaN,0,0,[],NaN
43,47,안토니아스 라인,1996,네덜란드,청소년 관람불가,"드라마, 코미디",102분,2009-04-23,NaN,마린 고리스,"['빌레케 반 아믈루이', '엘스 도터만']",7.61,8.0,22,1.0,NaN,0,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52005,56708,극장판 시크릿 × 헤로인에 판토미라지!,2020,NaN,NaN,NaN,78분,NaN,NaN,NaN,[],NaN,NaN,0,0.0,,0,0,[],
52009,56712,대인물,2019,중국,15세 관람가,"코미디, 액션, 범죄",105분,NaN,NaN,오백,"['왕첸웬', '포패이']",NaN,NaN,0,0.0,,0,0,[],
52032,56735,더 텍스 콜렉터,2020,NaN,NaN,"드라마, 범죄, 액션",95분,NaN,NaN,데이비드 에이어,"['샤이아 라보프', '']",NaN,NaN,0,0.0,,0,0,[],
52040,56743,옆얼굴,2019,"프랑스,일본",NaN,드라마,111분,NaN,NaN,후카다 코지,"['츠츠이 마리코', '이치카와 미카코']",NaN,NaN,0,0.0,,0,0,[],
52042,56745,그랜드 블루,2020,일본,NaN,코미디,NaN,NaN,NaN,하나부사 츠토무,"['이누카이 아츠히로', '아사히나 아야']",NaN,NaN,0,0.0,,0,0,[],

In [57]:
type1= HM[(HM.제목_y.isnull())]
type2 = HM[(HM.제목_y == '')]

In [70]:
type1

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
10,11,마이클 콜린스,1996,"영국,아일랜드,미국",15세 관람가,드라마,132분,1997-01-18,NaN,닐 조던,"['리암 니슨', '줄리아 로버츠']",6.13,NaN,8,0.0,NaN,0,0,[],NaN
19,20,브레이킹 더 웨이브,1995,"프랑스,아이슬랜드,스웨덴,덴마크,노르웨이,네덜란드",청소년 관람불가,"멜로·로맨스, 드라마",159분,1996-12-07,82명,라스 폰 트리에,"['에밀리 왓슨', '스텔란 스카스가드']",8.00,NaN,14,0.0,NaN,0,0,[],NaN
30,33,내일로 흐르는 강,1995,한국,청소년 관람불가,"드라마, 멜로·로맨스",96분,1996-01-20,NaN,박재호,"['김예령', '이대연']",5.33,NaN,3,0.0,NaN,0,0,[],NaN
36,39,싸이렌 나잇,1996,독일,NaN,멜로·로맨스,NaN,NaN,NaN,다니 레비,"['마리아 슈라더', '위르겐 포겔']",6.00,NaN,1,0.0,NaN,0,0,[],NaN
43,47,안토니아스 라인,1996,네덜란드,청소년 관람불가,"드라마, 코미디",102분,2009-04-23,NaN,마린 고리스,"['빌레케 반 아믈루이', '엘스 도터만']",7.61,8.0,22,1.0,NaN,0,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44312,48632,로즈,2017,아일랜드,15세 관람가,"멜로·로맨스, 드라마",108분,2017-04-12,NaN,짐 셰리단,"['루니 마라', '에릭 바나']",8.75,5.5,8,2.0,NaN,NaN,NaN,NaN,NaN
44402,48733,대세남,2016,한국,15세 관람가,연예/오락,NaN,NaN,NaN,안성진,"['정찬우', '이상민']",NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
48801,53399,적,2012,한국,NaN,액션,NaN,NaN,NaN,곽경택,['주진모'],NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
49035,53636,헌티드,2016,미국,15세 관람가,"스릴러, 공포",87분,NaN,NaN,에로스 단토나,['로베르토 단토나'],NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
49121,53723,콜,2020,한국,15세 관람가,스릴러,112분,NaN,NaN,이충현,"['박신혜', '전종서']",NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN

In [59]:
type2

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
7008,8111,복수의 비극,2002,영국,15세 관람가,범죄,109분,NaN,NaN,NaN,[],NaN,NaN,0,0.0,,0,0,[],
7010,8113,아부나,2002,"프랑스,네덜란드",전체 관람가,드라마,84분,NaN,NaN,마하마트 살레 하룬,"['아히조 마하맛 무사', '함자 목타르 아귀드']",6.0,NaN,3,0.0,,0,0,[],
7020,8124,늑대인간,1941,미국,NaN,드라마,70분,NaN,NaN,조지 와그너,"['론 채니 주니어', '에블린 앵커스']",6.5,NaN,4,0.0,,0,0,[],
7043,8151,기디온 경감,1958,"영국,미국",NaN,드라마,91분,NaN,NaN,존 포드,"['잭 호킨스', '다이안느 포스터']",NaN,NaN,0,0.0,,0,0,[],
7045,8153,"넓고, 밝고, 지하철에서 가깝습니다",2002,이탈리아,NaN,단편 영화,NaN,NaN,NaN,마시모 카렐리,[],NaN,NaN,0,0.0,,0,0,[],
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52005,56708,극장판 시크릿 × 헤로인에 판토미라지!,2020,NaN,NaN,NaN,78분,NaN,NaN,NaN,[],NaN,NaN,0,0.0,,0,0,[],
52009,56712,대인물,2019,중국,15세 관람가,"코미디, 액션, 범죄",105분,NaN,NaN,오백,"['왕첸웬', '포패이']",NaN,NaN,0,0.0,,0,0,[],
52032,56735,더 텍스 콜렉터,2020,NaN,NaN,"드라마, 범죄, 액션",95분,NaN,NaN,데이비드 에이어,"['샤이아 라보프', '']",NaN,NaN,0,0.0,,0,0,[],
52040,56743,옆얼굴,2019,"프랑스,일본",NaN,드라마,111분,NaN,NaN,후카다 코지,"['츠츠이 마리코', '이치카와 미카코']",NaN,NaN,0,0.0,,0,0,[],
52042,56745,그랜드 블루,2020,일본,NaN,코미디,NaN,NaN,NaN,하나부사 츠토무,"['이누카이 아츠히로', '아사히나 아야']",NaN,NaN,0,0.0,,0,0,[],

와! 20000개가 빵꾸가 나네요!

In [74]:
HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ][HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ].국가=='한국']

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
30,33,내일로 흐르는 강,1995,한국,청소년 관람불가,"드라마, 멜로·로맨스",96분,1996-01-20,NaN,박재호,"['김예령', '이대연']",5.33,NaN,3,0.0,NaN,0,0,[],NaN
71,80,용병 이반,1996,한국,청소년 관람불가,"드라마, 액션",104분,1997-03-01,NaN,이현석,"['박상원', '송재호']",3.75,NaN,3,0.0,NaN,0,0,[],NaN
84,94,파트너,1997,한국,청소년 관람불가,액션,107분,1997-05-31,NaN,설춘환,"['최재성', '김보성']",4.33,NaN,3,0.0,NaN,0,0,[],NaN
130,145,불새,1996,한국,청소년 관람불가,멜로·로맨스,107분,1997-02-01,NaN,김영빈,"['이정재', '손창민']",5.20,NaN,5,0.0,NaN,0,0,[],NaN
174,194,고래사냥,1984,한국,12세 관람가,멜로·로맨스,112분,1984-03-27,12명,배창호,"['안성기', '이미숙']",7.28,NaN,25,0.0,NaN,0,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51847,56540,해적: 도깨비 깃발,2020,한국,NaN,NaN,NaN,NaN,NaN,김정훈,"['강하늘', '한효주']",NaN,NaN,0,0.0,,0,0,[],
51916,56613,아시안 엔젤(가제),2020,한국,NaN,"가족, 드라마",NaN,NaN,NaN,이시이 유야,"['이케마츠 소스케', '최희서']",NaN,NaN,0,0.0,,0,0,[],
51940,56638,프리즈너,2020,한국,15세 관람가,액션,82분,2020-07-23,"1,681명",양길영,"['오지호', '조운']",NaN,2.5,0,2.0,,0,0,[],
51943,56641,소울메이트(가제),2020,한국,NaN,드라마,NaN,NaN,NaN,민용근,"['김다미', '전소니']",NaN,NaN,0,0.0,,0,0,[],
51989,56691,어디에나 있는 어디에도 없는,2019,한국,NaN,NaN,16분,NaN,NaN,김민준,"['이춘희', '차건우']",NaN,NaN,0,0.0,,0,0,[],

In [75]:
T1 = HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ][HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ].국가=='한국']
full3={}

In [76]:
for x, y, z in tqdm_notebook(zip(T1.index, T1.제목_x, T1.연도)):

    try:
        driver.get("https://pedia.watcha.com/ko-KR/searches/movies?query={}".format(y))
        
        scroll()
        
        if z!='':
            k=0
            for i in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
                k += 1
                
                if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == z:
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)+1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)-1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    

#            if (k/2)+0.5 > len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')):
#                for u in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
#                            
#                    if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)+1):
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                        
#                        full[x] = get_info()
#                        
#                        break
#                                       
#                    elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)-1):
#    
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                    
#                        full[x] = get_info()
#                    
#                        break
         
        else:
            driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[0].click()
            
            rand_value = random.uniform(0.8, 1)
            time.sleep(rand_value)    
            
            
            full3[x] = get_info()

    except:
        full3[x] = {'제목': '', '별점': 0, '사람': 0, '기타정보' : [], '상영시간':''}

C:\Users\reoeu\anaconda3\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [115]:
len(full3)

7681

In [118]:
goindex = pd.DataFrame(full3).T.index

In [140]:
mk1 = pd.DataFrame(full3).T.loc[:,['제목']]
mk2 = pd.DataFrame(full3).T.loc[:,['상영시간']]

In [121]:
HM.loc[goindex, ['제목_y','별점','사람','기타정보','상영시간_y']] = pd.DataFrame(full3).T

In [141]:
HM.loc[goindex, ['제목_y']] = list(mk1.제목)
HM.loc[goindex, ['상영시간_y']] = list(mk2.상영시간)

In [142]:
HM.loc[goindex, ['제목_y','별점','사람','기타정보','상영시간_y']]

                  제목_y   별점     사람               기타정보   상영시간_y
30           내일로 흐르는 강  3.1     87  [1996 ・ 로맨스 ・ 한국]  1시간 36분
71               용병 이반  1.6     46   [1997 ・ 액션 ・ 한국]  1시간 44분
84                 파트너    2     30   [1997 ・ 액션 ・ 한국]  1시간 51분
130                 불새  2.5    493  [1997 ・ 로맨스 ・ 한국]  1시간 54분
174              고래 사냥  3.3  8,747  [1984 ・ 드라마 ・ 한국]  1시간 52분
...                ...  ...    ...                ...      ...
51847                     0      0                 []
51916                     0      0                 []
51940             프리즈너  2.1    225   [2020 ・ 액션 ・ 한국]
51943                     0      0                 []
51989  어디에나 있는 어디에도 없는  1.5      1  [2018 ・ 드라마 ・ 한국]      15분

[7681 rows x 5 columns]

In [147]:
HM.loc[goindex,:][HM.loc[goindex,:].제목_y=='']

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
602,658,성공시대,1988,한국,청소년 관람불가,"드라마, 코미디",110분,1988-06-04,NaN,장선우,"['안성기', '이혜영']",6.58,NaN,12,0.0,,0,0,[],
857,938,전염,1997,한국,NaN,단편 영화,16분,NaN,NaN,NaN,[],NaN,NaN,0,0.0,,0,0,[],
859,940,낙타 뒤에서,1996,한국,NaN,단편 영화,29분,NaN,NaN,이상인,[],4.00,NaN,3,0.0,,0,0,[],
861,942,모헨조다로,1996,한국,NaN,단편 영화,17분,NaN,NaN,고창수,[],2.00,NaN,1,0.0,,0,0,[],
863,944,변방에서 중심으로- 독립영화에 대한 특별한 시선,1997,한국,NaN,다큐멘터리,70분,NaN,1명,홍현숙,[],6.00,NaN,1,0.0,,0,0,[],
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51793,56483,출근시간,2003,한국,NaN,드라마,11분,NaN,NaN,이후경,['배성우'],NaN,NaN,0,0.0,,0,0,[],
51794,56484,못말리는 컬링부,2018,한국,NaN,드라마,80분,NaN,NaN,장대운,"['허성태', '이태리']",NaN,NaN,0,0.0,,0,0,[],
51847,56540,해적: 도깨비 깃발,2020,한국,NaN,NaN,NaN,NaN,NaN,김정훈,"['강하늘', '한효주']",NaN,NaN,0,0.0,,0,0,[],
51916,56613,아시안 엔젤(가제),2020,한국,NaN,"가족, 드라마",NaN,NaN,NaN,이시이 유야,"['이케마츠 소스케', '최희서']",NaN,NaN,0,0.0,,0,0,[],
51943,56641,소울메이트(가제),2020,한국,NaN,드라마,NaN,NaN,NaN,민용근,"['김다미', '전소니']",NaN,NaN,0,0.0,,0,0,[],

In [171]:
HM.to_csv('tohowmany.csv', encoding='utf-8-sig')

In [150]:
T1 = HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ][HM[(HM.제목_y == '') | (HM.제목_y.isnull()) ].국가=='한국']
full3={}

In [151]:
len(T1)

5962

In [152]:
for x, y, z in tqdm_notebook(zip(T1.index, T1.제목_x, T1.연도)):

    try:
        driver.get("https://pedia.watcha.com/ko-KR/searches/movies?query={}".format(y))
        
        scroll()
        
        if z!='':
            k=0
            for i in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
                k += 1
                
                if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == z:
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)+1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)-1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    

#            if (k/2)+0.5 > len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')):
#                for u in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
#                            
#                    if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)+1):
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                        
#                        full[x] = get_info()
#                        
#                        break
#                                       
#                    elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)-1):
#    
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                    
#                        full[x] = get_info()
#                    
#                        break
         
        else:
            driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[0].click()
            
            rand_value = random.uniform(0.8, 1)
            time.sleep(rand_value)    
            
            
            full3[x] = get_info()

    except:
        full3[x] = {'제목': '', '별점': 0, '사람': 0, '기타정보' : [], '상영시간':''}

C:\Users\reoeu\anaconda3\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [156]:
youare = pd.DataFrame(full3).T.index

In [159]:
pd.DataFrame(full3).T[pd.DataFrame(full3).T.제목!='']

              제목   별점     사람                 기타정보     상영시간
602         성공시대  3.1    368    [1988 ・ 드라마 ・ 한국]  1시간 50분
1231          애인    0      0          [1956 ・ 한국]
1860       종이 나비    0      0          [1998 ・ 한국]       7분
2000   각설이 품바 타령  2.7     26          [1984 ・ 한국]  1시간 47분
2751          구멍  3.6    788    [1998 ・ 대만 ・ 프랑스]  1시간 33분
...          ...  ...    ...                  ...      ...
49857   노무현과 바보들  3.5  2,762  [2019 ・ 다큐멘터리 ・ 한국]
50249    한낮의 피크닉  3.1    700    [2018 ・ 드라마 ・ 한국]
50391      파이프라인  2.7      7     [2020 ・ 범죄 ・ 한국]
50421      동물, 원  3.6    481  [2018 ・ 다큐멘터리 ・ 한국]
50848         앵커  3.2    170    [2018 ・ 드라마 ・ 한국]

[148 rows x 5 columns]

In [164]:
mk1 = pd.DataFrame(full3).T.loc[:,['제목']]
mk2 = pd.DataFrame(full3).T.loc[:,['상영시간']]

In [162]:
HM.loc[youare, ['제목_y','별점','사람','기타정보','상영시간_y']] = pd.DataFrame(full3).T

In [167]:
HM.loc[youare, ['제목_y']] = list(mk1.제목)
HM.loc[youare, ['상영시간_y']] = list(mk2.상영시간)

In [168]:
HM.loc[youare, ['제목_y','별점','사람','기타정보','상영시간_y']]

       제목_y   별점   사람               기타정보   상영시간_y
602    성공시대  3.1  368  [1988 ・ 드라마 ・ 한국]  1시간 50분
857            0    0                 []
859            0    0                 []
861            0    0                 []
863            0    0                 []
...     ...  ...  ...                ...      ...
51793          0    0                 []
51794          0    0                 []
51847          0    0                 []
51916          0    0                 []
51943          0    0                 []

[5937 rows x 5 columns]

In [170]:
HM[(HM.제목_y != '') & (HM.제목_y.notnull()) ]

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
0,1,히트,1995,미국,청소년 관람불가,"액션, 범죄, 드라마",171분,2017-11-09,454명,마이클 만,"['알 파치노', '로버트 드니로']",8.44,NaN,40,0.0,히트,3.9,5만,['1995 ・ 액션 ・ 미국'],2시간 51분
1,2,랜섬,1996,미국,15세 관람가,"드라마, 범죄, 액션",129분,1996-12-07,NaN,론 하워드,"['멜 깁슨', '르네 루소']",6.29,NaN,21,0.0,랜섬,3.4,2만,['1996 ・ 범죄 ・ 미국'],2시간 1분
2,3,귀여운 여인,1990,미국,청소년 관람불가,"멜로·로맨스, 코미디",125분,1990-09-15,NaN,게리 마샬,"['리처드 기어', '줄리아 로버츠']",7.37,NaN,39,0.0,귀여운 여인,3.8,24만,['1990 ・ 로맨틱코미디 ・ 미국'],1시간 59분
3,4,라스베가스를 떠나며,1995,미국,청소년 관람불가,"드라마, 멜로·로맨스",112분,1996-03-01,84명,마이크 피기스,"['니콜라스 케이지', '엘리자베스 슈']",7.97,NaN,37,0.0,라스베가스를 떠나며,3.7,3만,['1995 ・ 로맨스 ・ 미국'],1시간 51분
4,5,보디가드,1992,미국,15세 관람가,"뮤직, 멜로·로맨스",125분,2018-09-26,NaN,믹 잭슨,"['케빈 코스트너', '휘트니 휴스턴']",6.36,NaN,25,0.0,보디가드,3.6,9만,['1992 ・ 액션 ・ 미국'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52043,56746,3년째의데뷔,2020,일본,NaN,다큐멘터리,119분,NaN,NaN,타케나카 유스케,[],NaN,NaN,0,0.0,3년째의 데뷔,3.5,1,[2020 ・ 다큐멘터리 ・ 일본],1시간 59분
52044,56747,이별의 목적,2018,NaN,12세 관람가,멜로·로맨스,96분,20-Sep,214명,이건우,['한해인'],NaN,5.0,0,1.0,이별의 목적,2.7,68,[2018 ・ 드라마 ・ 한국],
52045,56748,압구정 리포트(가제),,한국,NaN,NaN,NaN,NaN,NaN,임진순,"['마동석', '정경호']",NaN,NaN,0,0.0,압구정 리포트(가제),0,0,[2020 ・ 코미디 ・ 한국],
52046,56749,아메리칸 잡,2019,미국,15세 관람가,"액션, 범죄",NaN,2020-09-03,"2,156명",마크 스티븐 존슨,"['트래비스 핌멜', '포레스트 휘태커']",NaN,6.5,0,2.0,아메리칸 잡,2.6,144,[2019 ・ 로맨스 ・ 미국],
52047,56750,"조제, 호랑이 그리고 물고기들",,일본,NaN,"애니메이션, 드라마",NaN,21-Jan,NaN,타무라 코타로,[],NaN,NaN,0,0.0,"조제, 호랑이 그리고 물고기들",NaN,NaN,[2020 · 일본 · 애니메이션],1시간 39분

In [220]:
HM[ (HM.제목_y.isnull())]

,Unnamed: 0,제목_x,연도,국가,등급,장르,상영시간_x,개봉일,누적관객,감독,출연자,네티즌,전문가,네티즌수,전문가수,제목_y,별점,사람,기타정보,상영시간_y
10,11,마이클 콜린스,1996,"영국,아일랜드,미국",15세 관람가,드라마,132분,1997-01-18,NaN,닐 조던,"['리암 니슨', '줄리아 로버츠']",6.13,NaN,8,0.0,NaN,0,0,[],NaN
19,20,브레이킹 더 웨이브,1995,"프랑스,아이슬랜드,스웨덴,덴마크,노르웨이,네덜란드",청소년 관람불가,"멜로·로맨스, 드라마",159분,1996-12-07,82명,라스 폰 트리에,"['에밀리 왓슨', '스텔란 스카스가드']",8.00,NaN,14,0.0,NaN,0,0,[],NaN
36,39,싸이렌 나잇,1996,독일,NaN,멜로·로맨스,NaN,NaN,NaN,다니 레비,"['마리아 슈라더', '위르겐 포겔']",6.00,NaN,1,0.0,NaN,0,0,[],NaN
43,47,안토니아스 라인,1996,네덜란드,청소년 관람불가,"드라마, 코미디",102분,2009-04-23,NaN,마린 고리스,"['빌레케 반 아믈루이', '엘스 도터만']",7.61,8.0,22,1.0,NaN,0,0,[],NaN
46,53,샤도우 프로그램,1996,미국,15세 관람가,"범죄, 액션",104분,1997-01-25,NaN,조지 P. 코스마토스,"['찰리 쉰', '도널드 서덜런드']",5.00,NaN,5,0.0,NaN,0,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35576,39084,R.I.P.D. : 알.아이.피.디,2013,미국,15세 관람가,"액션, 블록버스터",95분,2013-08-22,"101,460명",로베르트 슈벤트케,"['라이언 레이놀즈', '제프 브리지스']",6.36,5.0,11,2.0,NaN,NaN,NaN,NaN,NaN
35890,39429,고스트,2012,미국,15세 관람가,NaN,89분,2013-08-22,253명,하비에르 루이즈 깔데라,"['라울 아레발로', '알렉산드라 지메네즈']",6.00,NaN,1,0.0,NaN,NaN,NaN,NaN,NaN
44190,48498,캠핑 3,2016,프랑스,NaN,코미디,NaN,NaN,NaN,파비엥 온테니안테,"['프랭크 두보숙', '클로드 브라소']",NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
44312,48632,로즈,2017,아일랜드,15세 관람가,"멜로·로맨스, 드라마",108분,2017-04-12,NaN,짐 셰리단,"['루니 마라', '에릭 바나']",8.75,5.5,8,2.0,NaN,NaN,NaN,NaN,NaN
49035,53636,헌티드,2016,미국,15세 관람가,"스릴러, 공포",87분,NaN,NaN,에로스 단토나,['로베르토 단토나'],NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN

# Google 검색 도전

In [221]:
T1 = HM[ (HM.제목_y.isnull())]
full3={}

In [ ]:
driver.get("https://pedia.watcha.com/ko-KR/searches/movies?query={}".format(y))

In [ ]:
for x, y, z in tqdm_notebook(zip(T1.index, T1.제목_x, T1.연도)):

    try:
        driver.get("https://pedia.watcha.com/ko-KR/searches/movies?query={}".format(y))
        
        scroll()
        
        if z!='':
            k=0
            for i in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
                k += 1
                
                if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == z:
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)+1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    
                elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].text[:4] == str(int(z)-1):
                    driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[i].click()

                    rand_value = random.uniform(0.8, 1)
                    time.sleep(rand_value)    
                    
                    full3[x] = get_info()
                    
                    break
                    

#            if (k/2)+0.5 > len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')):
#                for u in range(1+len(driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div'))):
#                            
#                    if driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)+1):
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                        
#                        full[x] = get_info()
#                        
#                        break
#                                       
#                    elif driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].text[:4] == str(int(z)-1):
#    
#                        driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[u].click()
#                        rand_value = random.uniform(0.8, 1)
#                        time.sleep(rand_value)
#                    
#                        full[x] = get_info()
#                    
#                        break
         
        else:
            driver.find_elements_by_xpath('//*[@id="root"]/div/div/section/section/div/div/div/ul/li/a/div/div/div')[0].click()
            
            rand_value = random.uniform(0.8, 1)
            time.sleep(rand_value)    
            
            
            full3[x] = get_info()

    except:
        full3[x] = {'제목': '', '별점': 0, '사람': 0, '기타정보' : [], '상영시간':''}